.card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}
.card__header{
    background-color: grey;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.card__header__left{
    float:left;
}

.card__header__right{
    float:right;
    font-weight: bold;
}

.card__body{
    height: 50px;
}
