.container {
    height : auto;
    min-height : 100%;
    background-color:darkslategrey;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.container__content{
    position: relative;
    flex-basis: 33%;
    /*width: 33%;*/
}

.container__title{
    font-size: 8vw;
    font-weight: 800;
    color: aliceblue;
    text-align: center;
}

/*.container__content__ride {*/
    /*margin: 0 50px 0 50px;*/

/*}*/
